body {
    background-color: #020515;
}

#canvas-image {
    position: relative;
}

.earth-image {
    position: absolute;
    top: 0;
    left: 0;
}

#annotation {
    position: absolute;

    top: 200px;
    left: 30px;

    width:  220px;
    height: 100px;
    padding: 10px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    border-bottom: solid 1px #fff;
}

.title-sup {
    font-size: 32px;
}

.title-sub {
    font-size: 52px;
    line-height: 0.8;
}

.small {
    font-size: 12px;
}

.lead {
    font-size: 16px;
    color: #bababa;
}

#controls {
    color: #fff;
    text-transform: uppercase;
}

#month-label {
    position: absolute;

    top: 30px;
    left: 40px;
    padding: 10;

    text-transform: uppercase;
    font-size: 16px;
    color: #bababa;
}